
.experienceBar{
    display:flex;
    align-items: center;
}


.experienceBar span{
   font-size: 1rem;
}

/*esse sinal > antes de div indica que dentro do experience bar esse estilo só se aplica a primeira div*/
.experienceBar > div{
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
 }
 /*estiliza a div dentro da div da experiencebar*/
 .experienceBar > div > div{ 
    height: 4px;
    border-radius: 4px;
    background: var(--green);
 }

 span.currentExperience{
    position: absolute;
    top: 12px;
    transform: translateX(-50%); /*diminui o eixo X em -50% do ponto atual que está, para a esquerda*/
 }
